.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  isolation: isolate;

  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;

  background: #06071b;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  color: gainsboro;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  flex: none;
  flex-grow: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 30px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: gainsboro;
}

.login {
  color: gainsboro;
}
