li {
  list-style: none;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: gainsboro;
  font-size: 14px;
  font-family: 'Teko', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  isolation: isolate;

  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;

  background: #06071b;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 60px;
  color: gainsboro;
  font-size: 34px;
  font-weight: 400;
  font-family: 'Big Shoulders Display', cursive;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  flex: none;
  flex-grow: 0;
  z-index: 1;
}

.nav-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gainsboro;
  padding: 0px;
  flex: none;
  flex-grow: 0;
  cursor: pointer;
  z-index: 1;
}

.nav-links-popover {
  background-color: #06071b;
  color: gainsboro;
  border-radius: 5px;
  padding: 15px;
  display: block;
  visibility: hidden;
  position: absolute;
  /* margin-top: 25%; */
  z-index: 1;
}

.nav:hover .nav-links-popover {
  display: block;
  visibility: visible;
}

.nav-links {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 20px;
}

.contact-us {
  color: gainsboro;
  margin-right: 60px;
}
