li {
  list-style: none;
}

a {
  text-decoration: none;
  color: gainsboro;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Teko', sans-serif; */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  isolation: isolate;

  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;

  background: #06071b;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 60px;
  color: gainsboro;
  font-size: 34px;
  font-weight: 400;
  font-family: 'Big Shoulders Display', cursive;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  flex: none;
  flex-grow: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 30px;
}

.contact-us {
  color: gainsboro;
}
