footer {
  height: 442px;
  width: 100%;
  border-top: 1px solid grey;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid grey;
}

.footer-title > p {
  margin-left: 40px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.footer-title > ul {
  font-size: 12px;
  margin-right: 30px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-copyright {
  margin-left: 30px;
  margin-top: 20px;
}

.footer-terms {
  margin-right: 30px;
  margin-top: 20px;
}
